.pagename{
    display: flex;
    padding: 100px 0px 0px 35px;
    font-weight: 700;
    font-size: 25px;
}

.card {
    height:700px;
    width:980px;
    background-color: #161616;
    margin-top: 35px;
    margin-left: 30px;
    border-radius: 50px;
}

.skill-list {
  padding-top:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  
}

.skill-list input {
   width: 400px;
}