
.profile-intro {
    margin-top: 120px ;
}



.previous-brands {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.slidetrack {
    display: flex;
    align-items: center;
    width: calc(250px * 10);
    animation: scroll 40s linear infinite;
}

@media (max-width: 600px) {

    .profile-intro {
        padding-right: 930px;
    }
    
    .intro-contents {
     padding-right: 930px;

    }

    .intro-contents h1 {
        font-size: 1.0em;
        line-height:1.2;
    }


      * {
        margin: 0;
        padding: 0;
        box-sizing: 0;
      }

    
}