
.footer-card {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: 300px;
  width: 100%; /* Ensure it covers the full width */
  background-color: #161616;
  background-size: cover;
  color: #fff;
  padding: 0 20px; /* Add padding to ensure content doesn't touch the edges */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}



.foot-pairs a {
    color: #fff
    
}

.foot-pairs a h3 {
  font-size:15px;
  font-weight: 100px;
}

@media (max-width: 768px) { /* For tablets and smaller devices */
  .footer-card {
    flex-direction: column;
    align-items: first baseline;
    gap: 20px;
    padding: 0 10px; /* Adjust padding for smaller screens */
}

.foot-pairs {
  gap: 10px;
  padding-left: 150px;
}

  }
