
.footer-card {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px;
    height: 300px;
    width: auto;
    background-color: #161616;
    background-size: cover;
    color: #fff;
}



.foot-pairs a {
    color: #fff
    
}

.foot-pairs a h3 {
  font-size:15px;
  font-weight: 100px;
}

@media (max-width: 768px) { /* For tablets and smaller devices */
  .footer-card {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      height: auto;
      width: 100%;
      padding: 30px 10px;
      text-align: center;
  }

  .foot-pairs {
      width: 100%; /* Ensures each set of links takes full width */
  }

  .foot-pairs a h3 {
      font-size: 14px;
  }
}@media (max-width: 600px ) {
  .footer-card {
    padding-right:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
    background-color: #161616;
    background-size: cover;
    color: #fff;
}
}